header{
    
    background-color:red ;
    color:black;
    width:100vw;
    height: 50px;
    text-align: center;
    font-size: 30px;
    position:fixed;
    top:0%;
}
.first{
    
    position:absolute;
    left:10px;
    top:10%;
    z-index : -1;
}
.second{
    
    position:absolute;
    right:10px;
    top:10%;
    z-index :-1;
    
}
    .third{

        position:absolute;
        left:10px;
        top:40%;
        z-index :-1;
    }
    .forth{
        position:absolute;
        right:10px;
        top:40%;
        z-index :-1;
    }
    .fifth{
        position:absolute;
        left:10px;
        top:75%;
        z-index :-1;
    }
    .six{
        position: absolute;
        right:10px;
        top:75%;
        z-index :-1;
    }
    .seven{
        position:absolute;
        left:10px;
        top:120%;
        z-index : -1;
    }
    .eight{
        position:absolute;
        right:10px;
        top:120%;
        z-index:-1;
    }
    .nine{
        width:400px;
        height:400px;
        position:absolute;
        z-index: -1;
        top:65%;
        left:35%;
        border-radius: 80px 50px 50px 50px;
    }
    /*.nine{
        position:absolute;
        top: 350px; left: 500px;
        width: 200px;
        height:400px;
        border-radius: 50px 50px 50px 50px;
        z-index: -1;
        

    }*/




